<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div id="container">
        <div class="form-container">
            
            <form id="userForm">
                <h1>User Data Form</h1>
                <div>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="id">ID:</label>
                    <input type="number" id="id" name="id" required>
                </div>
                <div>
                    <label for="prompt">Prompt:</label>
                    <textarea id="prompt" name="prompt" required></textarea>
                </div>
                <button type="button" onclick="submitForm()">Submit</button>
            </form>
            <textarea id="result" name="prompt" ></textarea>
            <textarea id="generated_text" name="prompt" ></textarea>
        </div> 
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</body>

</html>
